@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
     background: #f1de11 ;
     border-radius: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}
body{
    background-image: linear-gradient(to right, #f12711, #f5af19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange{
    background-color: #f5af19;
}
.dark__gray{
    background-color: rgba(36, 35, 35, 0.507);
}
#larger__width{
    width: 147px;
    border-radius: 40px;
}
.container{
    display: flex;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    min-height: 80vh;
    background-color: #000;
    .display{
        border-radius: 18px;
        background-color: rgb(0, 0, 0);
        min-height: 100px;
        max-width:305px;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bolder;
        text-align: right;
        word-wrap:break-word;
    }
    button{
        cursor: pointer;
        margin: 2px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: #fff;
        font-weight: bolder;
        font-size: larger;
    }
    .second__section{
        margin-top: 10px;
        display: flex;
/*         flex-direction: column;
        justify-content: end; */
    }
}
